.App {
  text-align: center;
  background-color: "black";
  color: "#fff";
}

.App-Header {
  background-color: "black";
  color: "#fff";
}

.background-body {
  background: linear-gradient(135deg, rgba(145, 125, 178, 1), rgba(143, 110, 164, 0.6), rgba(114, 34, 138, 0.34));
  background-color: rgba(145, 125, 178, 1);
  color: "white";
}

.box3 {
  width: 300px;
  margin: 50px auto;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;
}

/* speech bubble 13 */

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #56365f;
  border-right: 15px solid transparent;
  border-top: 15px solid #56365f;
  border-bottom: 15px solid transparent;
  right: -30px;
  top: 0px;
}

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #56365f;
  border-top: 15px solid #56365f;
  border-bottom: 15px solid transparent;
  left: -30px;
  top: 0px;
}
